<div class="container">
  <h1>Registration</h1>
  <!--<form (ngSubmit)="onSubmit()">-->
  <form>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" [(ngModel)]="model.firstName" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" [(ngModel)]="model.lasttName" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" [(ngModel)]="model.pass" class="form-control" name="pass" id="pass">
    </div>
    <div class="form-group">
      <label for="confPass">Confirm password</label>
      <input type="password" class="form-control" id="confPass">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="password" [(ngModel)]="model.pass" class="form-control" name="pass" id="email">
    </div>
    <div class="form-group">
      <label for="email">City where are you living</label>
      <select class="form-control" id="location" required [(ngModel)]="model.location" name="location">
            <option *ngFor="let city of cityList" [value]="city.id">{{city.city}}</option>
       </select>
    </div>   
      <button type="submit" (click)="submitUser()" class="btn btn-default">Register</button>
  </form>


  </div>