 
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-header">
         <b  class="navbar-brand" *ngIf="userProfile">Hello, {{userProfile.firstName}} {{userProfile.lastName}}</b>
    </div>
      <ul class="nav navbar-nav navbar-right">
         <li *ngIf="!userProfile" ><a  [routerLink]="[{ outlets: { navigation: ['logged-in'] } }]" routerLinkActive="active">Home</a></li>
         <li *ngIf="!userProfile"><a  [routerLink]="[{ outlets: { navigation: ['login'] } }]" routerLinkActive="active">Login</a></li>
         <li *ngIf="!userProfile"><a  [routerLink]="[{ outlets: { navigation: ['registration'] } }]" routerLinkActive="active">Registration</a></li>
         <li *ngIf="userProfile"><a  [routerLink]="[{ outlets: { navigation: ['logout'] } }]" routerLinkActive="active">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<simple-notifications [options]="options"></simple-notifications>
<router-outlet name="navigation"></router-outlet>