<div class="container">
  <h1>Login</h1>
  <form  #loginForm="ngForm" (submit)="submitLogin()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="model.email" class="form-control" name="email" id="email" #email="ngModel" required email>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          Name is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" [(ngModel)]="model.pass" class="form-control" name="pass" id="pass" required #pass="ngModel">
      <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="alert alert-danger">
        <div [hidden]="!pass.errors.required">
          Password is required
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>